/* === datos del consumo === */
.device-data-display {
  background-color: var(--consumo-card-bg);
  border: 1px solid #ffffff;
  border-radius: 12px;
  padding: 12px;
  box-shadow: var(--consumo-card-shadow);
}

.datos-consumo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
}

.datos-grupo-consumo-span {
  background-color: var(--consumo-group-button-bg);
  border: none;
  box-shadow: var(--consumo-card-shadow);
  color: var(--consumo-group-text-button);
  font-family: 'nunito', sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

.datos-grupo-consumo-span.active {
  background-color: var(--consumo-group-button-hover);
  color: var(--consumo-text-hover);
}

.datos-consumo-span {
  background-color: var(--consumo-button-bg);
  border: none;
  box-shadow: var(--consumo-card-shadow);
  color: var(--consumo-text-button);
  font-family: 'nunito', sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

.datos-consumo-span.active {
  background-color: var(--consumo-button-bg-hover);
  color: var(--consumo-text-hover);
}
