.add-button {
    background: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.add-button:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.add-button-icon {
    width: 35px;
    height: 35px;
    transition: filter 0.3s ease;
}

/* Invertir el icono en modo oscuro si es necesario */
[data-theme="dark"] .add-button-icon {
    filter: brightness(0) invert(1);
}




  