/* === card === */
.consumo-card {
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 20px;
  padding: 20px;
  margin: 10px 15%;
  box-shadow: var(--consumo-card-shadow);
}

/* === contenedor general === */
.consumo-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en dispositivos pequeños */
  gap: 10px;
}

.columna-izquierda,
.columna-derecha {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.columna-izquierda{
  flex:0.5;
  justify-content: flex-start;
}


/* === titulos === */
.graph-title,
.title-consumotitle {
  color: var(--consumo-text-title);
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;
}

.title-consumotitle {
  text-align: left;
  margin-left: 5px;
}


/* === Media Queries === */

/* Para dispositivos pequeños (móviles) */
@media (max-width: 768px) {
  .consumo-container {
    flex-direction: column;
    margin: 0;
  }

  .columna-izquierda,
  .columna-derecha {
    flex: 1;
    width: 100%;
  }

  .datos-consumo {
    grid-template-columns: 1fr; /* Una columna para dispositivos pequeños */
  }

  .consumo-card {
    margin: 10px;
    padding: 15px;
  }

  .ver-detalles-btn, .ver-mas-btn {
    font-size: 12px;
    padding: 5px 8px;
  }
}


/* === view-more === */
.view-more {
  display: flex;
  flex-direction: column;
  margin-top: auto; /* Empuja el contenido hacia el fondo */
}

.ver-mas-btn {
  background-color: var(--consumo-button-extra-bg);
  border: none;
  box-shadow: var(--consumo-card-shadow);
  color: var(--consumo-text-hover);
  font-family: 'nunito', sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.ver-mas-btn:hover {
  background-color: var(--consumo-button-bg-hover);
  color: var(--consumo-text-hover);
}



/* Para dispositivos medianos (tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
  .consumo-container {
    flex-direction: column;
  }

  .columna-izquierda,
  .columna-derecha {
    flex: 1;
    width: 100%;
  }

  .datos-consumo {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en tablets */
  }
}
