.edit-device-card {
    max-width: 600px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    margin: 50px auto;
    text-align: left;
}


.Title-Device {
    color: #ff1400;
    text-align: autos;
    font-size: 28px;
}

.edit-device-form {
    display: flex;
    flex-direction: column;
}

.edit-device-card-columns{
    display: flex;
    flex-direction: row;
}

.lbl1, .lbl2 {
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.input-lbl {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 14px;
}

.buttonEditar {
    width: 94%;
    background-color: #ff914d;
    color: white;
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.buttonEditar:hover {
    background-color: #f4511e;
}

.device-name-header{
    font-size: 24px;
    font-weight: normal;
    color: #545454;
}