/* Estilos base se mantienen igual */
.edit-device-card {
  max-width: 600px;
  background-color: var(--card-bg);
  border: 1px solid #ffffff;
  box-shadow: var(--card-shadow);
  border-radius: 12px;
  padding: 20px;
  margin: 50px auto;
  text-align: left;
}

.Title-Device {
  color: var(--btn-edit-bg);
  text-align: autos;
  font-size: var(--font-heading-large);
}

.edit-device-form {
  display: flex;
  flex-direction: column;
}

.edit-device-card-columns {
  display: flex;
  flex-direction: row;
}

.lbl1, .lbl2 {
  font-size: var(--font-secondary);
  font-weight: bold;
  color: var(--text-primary);
  margin-bottom: 5px;
}

.input-lbl {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--input-bg);
  font-size: var(--font-body-interaction);
  color: var(--input-text);
}

.buttonEditar {
  width: 94%;
  background-color: var(--btn-edit-bg);
  color: var(--text-white);
  border: none;
  padding: 10px;
  font-size: var(--font-secondary);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.buttonEditar:hover {
  background-color: var(--btn-edit-bg-hover);
}

.device-name-header {
  font-size: var(--font-heading-large);
  font-weight: normal;
  color: var(--text-dark);
}

/* Media queries para mÃ³viles */
@media (max-width: 768px) {
  .edit-device-card {
    max-width: 100%;
    margin: 30px auto;
    padding: 15px;
    border-radius: 10px;
  }
  
  .Title-Device {
    font-size: var(--font-heading-medium);
  }
  
  .edit-device-card-columns {
    flex-direction: column;
  }
  
  .input-lbl {
    width: 95%;
  }
  
  .buttonEditar {
    width: 100%;
  }
  
  .device-name-header {
    font-size: var(--font-heading-medium);
  }
}

@media (max-width: 480px) {
  .edit-device-card {
    margin: 20px auto;
    padding: 12px;
  }
  
  .Title-Device {
    font-size: var(--font-heading-medium);
  }
  
  .lbl1, .lbl2 {
    font-size: var(--font-small);
  }
  
  .input-lbl {
    padding: 8px;
    font-size: var(--font-small);
  }
  
  .buttonEditar {
    padding: 8px;
    font-size: var(--font-small);
  }
  
  .device-name-header {
    font-size: var(--font-body-reading);
  }
}
